@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap");
/* Layout */
html {
    background-color: white;
    overflow-x: hidden;
}
body {
    padding-top: 4.75rem;
    overflow-x: hidden;
}
.navbar {
    padding: .25rem 1rem;
    background-color: #9c7ebc;
}
.navbar-light .navbar-nav .nav-link {
    color: white !important;
}

.main-content {
    min-height: calc(100vh - 120px);
}
footer {
    font-size: 0.75rem;
    padding: 0.9375rem;
    text-align: center;
    background-color: #e1d0f4;
    color: rgb(104, 101, 101);
    height: 3.125rem;
}
/* Home Page */
.large-logo {
    margin: auto;
    height: 18.75rem;
    width: 100%;
    display: block;
}
.large-massage-image {
    margin: auto;
    height: 18.75rem;
    width: 100%;
    display: block;
}
.home-image {
    padding: none;
}
.green-stripe {
    width: 100%;
    background-color: #A0CF67;
    padding: 1.25rem 3.125rem;
}
.green-stripe-info {
    color: rgb(104, 101, 101);
    text-align: center;
    font-size: 1.25rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 0;
}
.home-container {
    padding: 1.25rem;
}
.home-image-outer-container {
    width: 100%;
    padding: 0.9375rem;
}
.home-image-container {
    position: relative;
    width: 100%;
  }
  
  .home-image-small {
    display: block;
    width: 90%;
    height: 15.625rem;
    margin: auto;
    border-radius: 50%;
  }
  
  .home-image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  
  .home-image-container:hover .home-image-overlay {
    height: 100%;
  }
  
  .home-quote {
    color: #9c7ebc;
    font-size: 1.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
  }
  .home-massage-info {
      padding: 1.25rem;
      text-align: center;
      font-family: 'Poiret One', cursive;
      font-size: 1.25rem;
  }
  .find-out-more {
      margin: 0.625rem auto 1.25rem auto;
      display: block !important;
      background-color: #a0cf67 !important;
      color: white;
      border: 1px solid white !important;
      width: 30%;
  }
  .coming-soon-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .get-in-touch {
      background-color: #9c7ebc;
      width: 100%;
      color: white;
      padding: 1.25rem 3.125rem;
  }
  .contact-header{
      margin-bottom: .9375rem;
      border-bottom: 1px solid white;
  }
 
  .contact-icon, .contact-info {
      display: inline-block;
  }
  .contact-info {
      margin-left: .3125rem;
  }

  .external-link, .external-link:visited {
      color: #c2f484;
  }
  .external-link:hover {
    color: #a0cf67;
}
.external-link:active {
    color: #c2f484;
}
#about-me-button-link {
    margin-left: 0;
}

.btn-outline-success, .search-button {
    color: white !important;
    border: 1px solid white !important;
    background-color: #a0cf67 !important;
}
.search-button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color 
    .15s ease-in-out,box-shadow .15s ease-in-out;
}
/* Treatments Page */
.mobile-image {
    display: none;
}
.green-towels-image {
    height: 18.75rem;
    width: 100%;
    position: relative;
}
.treatments-heading { 
    position: absolute;
    top: 20%;
    left: 20%;
    color: white;
    font-size: 5rem;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    background-color: rgba(160, 207, 103, 0.8);
    /*background-color: rgba(100, 157, 142, .8);*/
    padding: 1.875rem;
 }
 .heal-relax-treatments {
     background-color: rgba(225, 208, 244, 0.5);
     font-family: 'Poiret One', cursive;
     font-size: 1.125rem;
     padding: 1.25rem 2.5rem;
     margin-top: 5rem;
     border: 1px solid black;
 }
 .mother-baby-treatments {
     background-color: rgba(160, 207, 103, 0.5);
     border: 1px solid black;
     margin-top: 2.5rem;
     font-size: 1.125;
     margin-bottom: 2.5rem;
 }
 .menu-column-header {
    font-family: 'Poiret One', cursive;
    width: 80%!important;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 .treatment-item {
     margin: 1.25rem 0;
 }
 .swedish-image, .reflexology-image, .pregnancy-image {
     height: 15.625rem;
     width: 21.875rem;
     margin: .625rem;
     border-radius: 3px;
     display: block;
     margin: auto;
 }
 .pregnancy-image {
     margin-top: 3.125rem;
 }
 .menu-column-header h4 {
     text-decoration: underline;
     margin: .625rem .625rem 1.25rem 1.25rem;
 }
 .menu-column-header p {
     margin: 0 1.25rem;
 }
 .price {
     font-weight: bold;
     margin-bottom: 1.25rem;
 }
 .price-span {
     margin-left: 3.125rem;
 }
 .image-container {
     padding-left: 1.875!important;
 }
 .aromatherapy-image {
     border-radius: 3px;
     display: block;
     margin: auto;
     height: 16.25rem;
     width: 11.25rem;
 }
 .reiki-image, .baby-image, .maternity-reflexology-image {
    height: 15.625rem;
    width: 21.875rem;
    margin: 10px 10px 0 20px;
    border-radius: 3px;
 }
 .maternity-reflexology-image  {
     margin-top: 1.875rem;
 }
 .indian-head-image, .labour-image {
    height: 15.625rem;
    width: 11.25rem;
    margin: 3.125rem .625rem 0 .625rem;
    border-radius: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Pamper Parties Page  */
.pamper-party-banner-image {
    height: 21.875rem;
    width: 100%;
    position: relative;
}
.events-heading {
    position: absolute;
    top: 20%;
    left: 30%;
    color: white;
    font-size: 5rem;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    padding: 1.875rem;
    background-color: rgba(138, 20, 70, 0.5)
}
.pamper-polaroid-portrait {
    width: 18.75rem;
    margin: 6.25rem 1.25rem 6.25rem 1.25rem;
}
#girls-walking {
    margin-bottom: .625rem;
}
.pamper-party-text {
    font-family: 'Playfair Display', serif;
    padding: 2.5rem 0;
    text-align: center;
    font-size: 1.25rem;
    color: #5e6664;
}
.contact-link {
    color: #920ed3;
}
.pamper-polaroid-landscape {
    width: 18.75rem;
}
.pamper-polaroid-small {
    width: 12.5rem;
    margin: .625rem;
}
#oil-pestle {
    width: 9.375rem;
}

/* Corporate Page */
.corporate-banner-image {
    height: 21.875rem;
    width: 100%;
    position: relative;
}
.corporate-heading {
    position: absolute;
    top: 20%;
    left: 25%;
    color: white;
    font-size: 5rem;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    padding: 1.875rem;
    background-color: rgba(126, 114, 194, 0.6)
}
.corporate-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.corporate-item {
    width: 25%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.corporate-item-blue {
    background-color: rgba(126, 114, 194, 0.6);
    padding: 2rem;
    height: 16.25rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.corporate-item-green {
    background-color: rgba(160, 207, 103, 0.5);
    padding: 2rem;
    height: 16.25rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.corporate-info {
    font-size: 1rem;
    background-color: white;
    padding: .5rem;
    text-align: center;
    font-family: 'Poiret One', cursive;
}
.corporate-info-large {
    font-size: 1.25rem;
}
.corporate-small-image {
    width: 100%;
}
.mobile-corporate-item {
    display: none;
}

/* Special Events Page */
.events-banner-image {
    height: 21.875rem;
    width: 100%;
    position: relative;
}
.events-heading {
    position: absolute;
    top: 22%;
    left: 30%;
    color: white;
    font-size: 5rem;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    padding: 1.875rem;
    background-color: rgba(0, 0, 0, 0.6)
}
.events-container {
    display: flex;
    flex-wrap: nowrap;
}
.events-item {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-family: 'Poiret One', cursive;
    font-size: 1.75rem;
    padding: 2rem;
    justify-content: center;
    text-align: center;
}
.events-item-pics {
    display: flex;
    width: 50%;
}
.events-item-pics img {
    width: 45%;
    padding: 1rem;
    height: 31.25rem;
    margin: auto;
    display: block;
}
.events-item p {
    border: 2px solid #920ed3;
    padding: 1rem;
    margin: 1rem;
}
 
/*Responsive behaviour for smaller laptops*/
@media all and (max-width: 1320px){ 
    
    .large-logo, .large-massage-image {
        height: 12.5rem;
    }
    .green-stripe-info {
        font-size: 1.125rem;
    }
    .home-image-small {
        height: auto;
    }
    .home-massage-info {
        font-size: 1rem;
    }
    .home-quote {
        font-size: .875rem;
    }
    .find-out-more {
        width: 90%;
    }
    .treatments-heading {
        font-size: 3.75rem;
    }
    .menu-column-header {
        width: 90% !important;
        font-size: 1rem;
    }
    .swedish-image, .reflexology-image, .pregnancy-image {
        height: 9.375rem;
        width: 15.625rem;
        margin-top: 3.125rem;
    }
    .reflexology-image {
        margin-top: 5rem;
    }
    .aromatherapy-image {
        height: 15rem;
        width: 8.125rem;
    }
    .reiki-image, .baby-image, .maternity-reflexology-image {
        height: 9.375rem;
        width: 15.625rem;
        margin-top: 1.875rem;
    }
    .baby-image, .maternity-reflexology-image {
        margin-top: 5rem;
    }
    .pregnancy-image {
        margin-top: 7.5rem;
    }
    .indian-head-image, .labour-image {
        width: 9.375rem;
        height: 220px;
    }
    .events-heading {
        font-size: 3.75rem;
        left: 28%;
    }
    .pamper-polaroid-portrait {
        width: 12.5rem;
    }
    .corporate-heading {
        font-size: 3.75rem;
        left: 23%;
    }
    .corporate-info {
        font-size: .9rem;
    }
    .events-item {
        font-size: 1.25rem;
    }
    .events-item-pics img {
        height: 26rem;
        padding: .5rem;
    }
}

/* Responsive behaviour for tablets */
@media all and (max-width: 1023px){
    .large-logo, .large-massage-image {
        height: 11rem;
    }
    .home-quote {
        font-size: .65rem;
    }
    .green-stripe-info {
        font-size: .875rem;
    }
    .treatments-heading {
        font-size: 2.5rem;
    }
    .heal-relax-treatments {
        margin-top: 2.5rem;
    }
    .aromatherapy-image {
        margin-top: 2.5rem;
    }
    .indian-head-image {
        margin-top: 5rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .labour-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .events-heading {
        font-size: 2.5rem;
        left: 31%;
    }
    .pamper-party-text {
        margin: 1.25rem 1.875rem;
        padding-top: 0;
        padding-bottom: 0;
    }
    .pamper-polaroid-portrait {
        display: inline-block;
        margin: 1.875rem 0 1.25rem 3.125rem;
    }
    .polaroid-container {
        padding-left: 8.125rem;
    }
    .left-polaroid, .bottom-polaroid {
        margin-left: 8.125rem;
    }
    #girls-walking, .pamper-polaroid-small {
        margin: 1.25rem;
    }
    .corporate-banner-image {
        height: 20rem;
    }
    .corporate-heading {
        font-size: 2.5rem;
        left: 25%;
    }
    .corporate-item {
        width: 50%;
    }
    .corporate-info {
        font-size: 1rem;
    }
    .corporate-info-large {
        font-size: 1.25rem;
    }
    .events-item {
        font-size: .8rem;
    }
    .events-item-pics img {
        height: 18rem;
    }
    .events-item p {
        margin: .5rem;
    }
}

/* Responsive behaviour for mobile devices */
@media all and (max-width: 767px){ 
    .home-quote {
        font-size: .875rem;
    }
    .btn-outline-success, .search-button{
        width: 100%;
        margin-top: 0.3125rem;
    }
    #reikiImage {
        display: none;
    }
    .large-logo {
        height: 12.5rem;
    }
    .large-massage-image {
        height: 15.625rem;
    }
    .home-image {
        margin: 0 .625rem;
    }
    .green-stripe-container {
        padding: .9376rem;
    }
    .green-stripe {
        margin: 0 .625rem;
        padding: 1.25rem;
    }
    .green-stripe-info {
        margin-bottom: 0;
    }
    footer {
        font-size: .5625rem;
    }
    .hide-on-mobile {
        display: none;
    }
    .find-out-more {
        width: 95%;
    }
    .home-image-small {
        border-radius: 50%;
    }
    .menu-column-header img {
        margin: auto;
        display: block;
        margin-top: .625rem;
    }
    .treatments-heading {
        font-size: 1.375rem;
        top: 16%;
        left: 12%;
    }
    .green-towels-image {
        height: 12.5rem;
    }
    .no-mobile-image {
        display: none;
    }
    .mobile-image {
        display: block;
    }
    .pamper-polaroid-portrait {
        width: 9.375rem;
        margin: 1.25rem;
    }
    .pamper-party-banner-image {
        height: 15.625rem;
    }
    .events-heading {
        top: 20%;
        left: 15%;
        background-color: rgba(31, 35, 34, 0.5);
    }
    .pamper-polaroid-small {
        margin: 1.25rem;
    }
    .polaroid-container {
        padding-left: 2.1875rem !important;
    }
    .pamper-party-text {
        padding: 0 1.875rem;
    }
    .corporate-banner-image {
        height: 13rem;
    }
    .corporate-heading {
        font-size: 1.75rem;
        left: 15%;
        top: 17%;
    }
    .corporate-item {
        width: 100%;
    }
    .mobile-corporate-item {
        display: flex;
    }
    .events-item-pics {
        flex-direction: column;
    }
    .events-item-pics img {
        width: 90%;
        height: 16rem;
        margin: 0 auto 0 auto;
    }
    .events-item {
        font-size: .75rem;
        padding: 1rem;
    }
    .events-banner-image {
        height: 15rem;
    }
    .events-heading {
        top: 17%;
    }
}

/* Responsive behaviour for medium mobiles */
@media (max-width: 375px){
    .pamper-polaroid-portrait {
        width: 9.375rem;
        margin: 1.25rem .625rem .625rem .625rem;
    }
    .pamper-party-text {
        margin: 1.25rem;
    }
    .corporate-heading {
        left: 12%;
    }
}

/* Responsive behaviour for small mobiles */
@media (max-width: 320px){
    .small-mobile-hide {
        display: none;
    }
    .pamper-polaroid-portrait {
        margin-left: 1.875rem;
        width: 12.5rem;
    }
    .pamper-polaroid-landscape {
        width: 15.625rem;
    }
    .events-heading {
        font-size: 1.875rem;
    }
    .corporate-heading {
        left: 15%;
        font-size: 1.25rem;
    }
}
